body {
    font-family: 'Montserrat';
    font-size: 17.5px;
    text-align: center;
    background-color: #992225;
    background: -webkit-linear-gradient(-135deg, #992225, #1d1c1b);
    background: -o-linear-gradient(-135deg, #992225, #1d1c1b);
    background: -moz-linear-gradient(-135deg, #992225, #1d1c1b);
    background: linear-gradient(-135deg, #992225, #1d1c1b);
}

input {
    padding: 15px;
    border: 1px solid;
    border-color: #1d1c1b;
    outline: none;
    border-radius: 15px;
    font-size: 15px;
    background-color: white;
    width: 267px;
}

#telacentro {
    background-color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: #1d1c1b;
}

/* Caixa Alerta */
.alerta {
    padding: 5px;
    border: 1px solid;
    border-radius: 15px;
    margin: 10px;
    font-size: 15px;
}

.error {
    border-color: #992225;
    color: #FFF;
    background-color: #9b2c2e;
}

/* Caixa Button */
button {
    background-color: #992225;
    border: none;
    padding: 15px;
    width: 300px;
    border-radius: 15px;
    color: white;
    font-size: 15px;
}

button:hover {
    background-color: #1d1c1b;
    cursor: pointer;
}

#btanimation {
    position: relative;
    top: 0;
    transition: all .2s ease-in-out
}

#btanimation:hover {
    top: -4px;
    box-shadow: 0 4px 3px #999
}

/* Caixa Neon */
@keyframes neon {
    from {
        filter: drop-shadow(0 0 0 var(--cor-neon));
    }

    to {
        filter: drop-shadow(0 0 5px var(--cor-neon));
    }
}

#neonid {
    animation: neon 1.5s alternate infinite ease-in-out;
}

.error {
    --cor-neon: #9b2c2e;
}